body {
    background-color:rgb(252, 186, 3);
}

#container {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.letter {
    display: flex;
    flex-wrap: wrap;
    margin-right: 30px;
}

.cell {
    width: 30px;
    height: 30px;
}

.k, .e, .l, .y {
    width: 120px;
}


.fill {
    background-color: rgb(255, 254, 252);
    transition-duration: 0.1s;
}


.fill:hover  {
    border-radius: 15px;
  }