@import url('https://fonts.googleapis.com/css2?family=Micro+5&display=swap');

body{
  background-image: url('images/waves.gif');
  background-size: cover; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position:center;
  font-family: "Micro 5", sans-serif;
  text-align:center;
  margin:120px;
}


h1 {
    font-size: clamp(55px, 10vw ,125px);
    margin: 20px 0 0 20px;
    color:#6b8f87;
    justify-content:center;
}

h2 {
    font-size: clamp(5px, 10vw ,50px);
    margin: 20px 0 0 20px;
    color:#6b8f87;
    justify-content: center;
}

a{
    font-size:25px;
}