@import url('https://fonts.googleapis.com/css2?family=Gabriela&family=Outfit:wght@500&display=swap');

body{
  padding: 25px;
  background-image: linear-gradient(#424549, #121212);
  color:white;
	font-family: 'Gabriela', serif;
	font-family: 'Outfit', sans-serif;
}

li{
	font-size: 22.5px;
}

h1{
  font-size:50px;
}

a{
  color:white;
}

img{
    border-radius: 7.5%;
    max-width:272px;
    display:inline;
    margin-right:20px;
}

.title{
  padding:10px;
	display:flex;
	align-items:center;
  justify-content: center;
  gap: 110px;
	text-align:center;
	color:white;
}

.inline-container {
    display: inline-block;
}