.body{
    background-color:beige;
}

.row1, .row2, .row3, .row4{
    display: flex;
    flex-wrap: wrap;
    margin-right: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.square{
    width: 200px;
    height: 200px;
    background-color: #F86530;
}

